@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
font-size: 10px;
overflow-x: hidden !important;
}

:root {

    --white: #fff;
    --DarkWhiteBg: #fafafa;
    --main: linear-gradient(
        to left bottom, 
        
        #45a26f,
        #4580a2,
        #f59281
    );

    --secondary: linear-gradient(
        to right bottom,
        #439e44,
        #415f9e,
        #f59281
       
    );

    --textColor: #1c366e;
    --textLightColor: #7a8fbd;

 /* Hover */

    --mainHover: linear-gradient(
        to right bottom, 
        #67a368,
        #70a186,
        #66879b
    );

    --secondaryHover: linear-gradient(
        to right bottom,
        #eb4629,
        #acf17d,
        #62c5dd,
        #01745b
    );

    --textColorHover: #1f2541;

     /* Box shadow style */
  --shadow: rgba(0, 0, 0, 0.062) 0px 3px 5px;
  --picShadow: -7px 8px 24px 0px rgba(66, 68, 90, 1);

  /* Box shadow hovers */
  --shadowHover: rgba(143, 143, 143, 0.212) 0px 5px 15px;
}

a {
    color: var(--textColor);
   text-decoration: none;
}

.text-link{
    text-decoration: underline;
}

a:hover {
color:#eb4629;
}


/* Section Title*/

.section-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 6rem auto 4rem auto;
    position: relative;
    width: max-content;
}

.section-title-main {
    background: var(--secondary);
    color: var(--white);
    padding: 0.4rem;
    border-top-left-radius: 1rem;
    display: inline;
}

.section-title-main::after {
    content: '';
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    bottom: -1.5rem;
    right: -1.5rem;
    background:  #eb4629;
    border-bottom-right-radius: 0.5rem;
}

.section-title-sub {
    color: var(--textColor);
}

/* Header */
header {
    display:flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    background: var(--white);
    z-index: 100;
}

header.active {
    box-shadow: var(--shadow);
}

.logo img{
    width: 100px;
    height: 60px;
}
.menu {
   display: flex;
   flex-direction: column;
   justify-content: space-around; 
   text-align: center;
   font-size: 1.8rem;
   font-weight: bold;
   color: var(--white);
   height: 100vh;
   width: 100vw;
   background: var(--main);
   position: absolute;
   left: 0;
   top: 0;
   transform: translateX(100%);
}

.menu-link{
    cursor: pointer;
}

.menu-link:last-child:hover{
background: var(--mainHover);
}

.menu.active {
    transform: translateX(0);
}

.burger {
    height: 3.4rem;
    width: 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.burger.active {
    z-index: 10;
}

.burger.active > span {
    background: var(--white);
}

.burger span {
    width: 100%;
    height: 0.4rem;
    border-radius: 0.5rem;
    background: var(--main);
    transition: all 0.3s ease-in-out;
    
} 

.burger.active > span:nth-child(1) {
    transform: translateX(100vw);
}

.burger.active > span:nth-child(2) {
    transform: rotate(45deg) translateY(13px);
}

.burger.active > span:nth-child(3) {
    transform: rotate(-45deg) translateY(-13px);
}

/*Desktop menu*/

@media only screen and (min-width: 1000px) {
    .burger {
        display: none;
    }

    .menu {
        position: unset;
        background: inherit;
        color: var(--textColor);
        list-style: none;
        flex-direction: row;
        height: inherit;
        width: max-content;
        gap: 5rem;
        font-size: 1.5rem;
        font-weight: normal;
        align-items: center;
        transform: translateX(0);
    }

    .menu-link {
        position: relative;
        cursor: pointer;
    }
    .menu-link::after {
        content: '';
        width: 0;
        height: 0.2rem;
        background: var(--main);
        position:absolute;
        bottom: -0.2rem;
        left: 0;
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;
    }

    .menu-link:hover::after {
        width: 100%;
    }

    .menu-link:last-child {
        background: var(--main);
        padding: 0.5rem 1.5rem;
        border-radius: 1rem;
        color: var(--white);
    }

    .menu-link:last-child::after {
        display: none;
    }
}

/* Call to action section*/

.home {
    margin-top: 2rem;
}

.home-image {
    width: 45%;
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
    box-shadow: var(--picShadow);
}

.home-content {
    margin-top: 1rem;
    font-size: 2.3rem;
    text-align: center;
    color: var(--textColor);
}

.home-content h1{
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    color: var(--textColor);
}

.home-content p{
    
        margin: 2rem;
        font-size: 2rem;
       font-weight: 500;
       font-style: italic;
        text-align: center;
        color: #eb4629;
    
}
.home-content h2 {
    font-size: 1.8rem;
    display: block;
    margin-top: 1rem;
}

.home-icons {
    background: var(--main);
    width: max-content;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
}

@media only screen and (min-width: 1000px) {
    .home-image{
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .home{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 5rem auto;
     
    }

    .home-image {
        order: 3;
    }
}

@media only screen and (min-width: 1400px) {
    .home-content h1{
       font-size: 3.5rem;
       
    }

    .home-content span {
        font-size: 2.2rem;
     }

    .home-image {
        width: 55%;
        padding: 2rem;
    }

    .home-content h1 {
        width: max-content;
    }
}

@media only screen and (min-width: 1650px) {
    .home {
        margin: 4rem auto;
    }
    
    .home-image {
        width: 45%;
    }

    .home-content{
        padding-left: 3rem;
    }

    .home-content h1{
        font-size: 3.9rem;
     }
 
     .home-content span {
         font-size: 2.5rem;
      }
    
}

/* Projects*/

.projects-content {
    display: grid;
    margin: 0 auto;
  
    text-align: center;
}

.project-content-card {
    margin: 1rem auto;
    width: 85%;
    padding: 1rem;
}

.project-content-card img {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
}

.project-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--textColor);
    padding-right: 3rem;
    border-bottom: 2px solid var(--textColor);
}

.project-name span{
    color: #eb4629;
}

.project-link img {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.3rem;
   
}

.project-description {
    font-size: 1.1rem;
    padding: 0.4rem;
    line-height: 1.6rem;
    text-align: justify;
    color: var(--textColor);
}

.summary {
    color: #eb4629;
    font-weight: bold;
}

.technologies-title {
    padding: 0.4rem;
    border-bottom: 2px solid var(--textColor);
    width: max-content;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--textColor);
    padding-right: 3rem;
}

.technologies-icons {
    display: flex;
}

.technologies-icons img {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.8rem;
}

@media only screen and (min-width: 1000px){
    .projects-content{
        grid-template-columns: 1fr 1fr;
    }
    .project-name {
        font-size: 1.4rem;
    }
    .technologies-title {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1400px){
    .projects{
        width: 90%;
        margin: 0 auto;
    }
    .project-content-card {
        width: 75%;
    }
}

/*About*/

.about:hover {
color:#eb4629;
}

.certyficat:hover {
    color:#eb4629;
}
.about-description {
    font-size: 1.2rem;
    padding: 1.0rem;
    line-height: 1.6rem;
    color: var(--textColor);
    text-align: justify;
}

.about .section-title {
    margin: 8rem auto 4rem auto;
}

.about-quote{
    display:block;
    font-size: 0.8rem;
    color: var(--textLightColor);
    margin-top: 0.5rem;
}

.about img {
    width: 85%;
    display: block;
    margin: 2rem auto;
}

@media only screen and (min-width: 780px){
    .about {
        width: 90%;
        margin: 2rem auto;
    }
    .about-description {
        padding: 1.7rem;
    }
    .about img {
        width: 80%;
    }
}

@media only screen and (min-width: 1000px){
    .about img {
        width: 70%;
    }
}

@media only screen and (min-width: 1150px){
    .about-description {
        padding: 1.5rem;
    }
}

@media only screen and (min-width: 1350px){
    .about-content {
        display: flex;
    }
    .about img {
        width: 50%;
    }
    .about-description {
        padding-right: 3rem;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 1800px){
    .about{
        width: 70%;
    }
}

/*Technologies*/

.technologies-content {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;  
 align-items: center;
 gap: 1rem;
 padding: 0rem 2rem 2rem 2rem;

}

.technologies-item {
    padding: 2rem;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.technologies-item:hover{
    box-shadow: var(--shadowHover);
}

.technologies-item img{
    width: 6rem;
    height: 6rem;
}

.technologies-item-title {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
    color: var(--textLightColor);
}

@media only screen and (min-width: 1500px){
    .technologies-item {
        margin: 2rem;
    }
}

/*Contact*/
.contact img{
    display: none; 
}

.contact-form{
    margin: 1rem auto;
    width: 80%;
}

.contact-form-field{
    margin: 1rem;
}

.contact-form label{
 display: block;
 font-size: 1rem;
 margin-bottom: 0.2rem;
 color: var(--textColor);   
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 0.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--textLightColor);
}

.contact-form-btn{
    background: var(--main);
    border: none;
    color: var(--white);
    width: 30%;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contact-form-btn:hover{
    background: var(--mainHover);
}

@media only screen and (min-width: 900px){
    .contact-form {
        width: 65%; 
    }
}

@media only screen and (min-width: 1100px){
    .contact img{
        display: block;
        width: 45%;
    }

    .contact {
        display: flex;
    }

    .contact-form {
        padding: 2rem;
    }
}

@media only screen and (min-width: 1500px){
    .contact-form {
        width: 80%; 
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1800px){
    .contact-form {
        width: 65%; 
        margin: 0 auto;
    }
}

/*Footer*/

footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
    background: var(--main);
    color: var(--white);
}

@media only screen and (min-width: 1500px){
    .footer {
        font-size: 1.1rem;
    }
}

.thankyou-alert h2 {
    font-size: 2rem;
    display: block;
    text-align: center;
    margin: 5rem auto;
    color: var(--textColor);
}

.thankyou-alert img{
    display: block;
    margin: 0 auto;
    width: 25%;
}