@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
font-size: 10px;
overflow-x: hidden !important;
}

:root {

    --white: #fff;
    --DarkWhiteBg: #fafafa;
    --main: linear-gradient(
        to left bottom, 
        
        #45a26f,
        #4580a2,
        #f59281
    );

    --secondary: linear-gradient(
        to right bottom,
        #439e44,
        #415f9e,
        #f59281
       
    );

    --textColor: #1c366e;
    --textLightColor: #7a8fbd;
    --textOrange:#eb4629;

 /* Hover */

    --mainHover: linear-gradient(
        to right bottom, 
        #67a368,
        #70a186,
        #66879b
    );

    --secondaryHover: linear-gradient(
        to right bottom,
        #eb4629,
        #acf17d,
        #62c5dd,
        #01745b
    );

    --textColorHover: #1f2541;

     /* Box shadow style */
  --shadowHover: rgba(2, 2, 5, 0.080) 5px 5px 5px 1px;
  --picShadow: -7px 8px 24px 0px rgba(66, 68, 90, 1);

  /* Box shadow hovers */
  --shadow: rgba(90, 87, 87, 0.212) 5px 5px 15px;
}

html {
    scroll-behavior: smooth;
}

.container {
width: 75%;
margin: 0 auto;
}
.section {
    margin: 0 0 5rem 0;
}

.menu a {
    text-decoration: none;
    color:var(--textColor);
    }

.text-link{
    text-decoration:underline;
    color:var(--textColor);
}

a:hover {
color:#eb4629;
}


/* Section Title*/

.section-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 4rem auto;
   position: relative;
    width: max-content;
}

.section-title-main {
    background: var(--secondary);
    color: var(--white);
    padding: 0.4rem;
    border-top-left-radius: 1rem;
    display: inline;
}

.section-title-main::after {
    content: '';
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    bottom: -1.5rem;
    right: -1.5rem;
    background:  #eb4629;
    border-bottom-right-radius: 0.5rem;
}

.section-title-sub {
    color: var(--textColor);
}

/* Header */
header {
    display:flex;
    justify-content: space-between;
    padding: 0.7rem 3rem;
    position: sticky;
    top: 0;
    margin-bottom: 3rem;
    background: var(--white);
    
    z-index: 100;
}


header.active {
    box-shadow: var(--shadow);
}

.logo img{
    width: 20%;
}
.menu {
   display: flex;
   flex-direction: column;
   justify-content:space-around; 
   text-align: center;
   list-style: none;
   font-size: 1.5rem;
   font-weight: bold;
   height: 100vh;
   width: 100vw;
   background: var(--main);
   position: absolute;
   left: 0;
   top: 0;
   transform: translateX(100%);
}

.menu-link{
    cursor: pointer;
    text-decoration: none;
}

.menu-link:hover {
    color:#eb4629;
}

.menu.active {
    transform: translateX(0);
}

.burger {
    height: 3.4rem;
    width: 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.burger.active {
    z-index: 10;
}

.burger.active > span {
    background: var(--textOrange);
}

.burger span {
    width: 100%;
    height: 0.4rem;
    border-radius: 0.5rem;
    background: var(--main);
    transition: all 0.3s ease-in-out;
    
} 

.burger.active > span:nth-child(1) {
    transform: translateX(100vw);
}

.burger.active > span:nth-child(2) {
    transform: rotate(45deg) translateY(13px);
}

.burger.active > span:nth-child(3) {
    transform: rotate(-45deg) translateY(-13px);
}

/*Tablet version*/

@media only screen and (min-width: 1000px) {
    .burger {
        display: none;
    }

    .menu {
        position: unset;
        background: inherit;
        color: var(--textColor);
        list-style: none;
        flex-direction: row;
        height: inherit;
        gap: 3rem;
        font-size: 1.5rem;
        font-weight: normal;
        align-items: center;

        transform: translateX(0);
    }

    .menu-link {
        position:relative;
        cursor: pointer;
    }
    .menu-link::after {
        content: '';
        width: 0;
        height: 0.2rem;
        background: var(--main);
        position:absolute;
        bottom: -0.2rem;
        left: 0;
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;
    }

    .menu-link:hover::after {
        width: 100%;
    }

    .menu-link:last-child {
        padding: 0.5rem 1.5rem;
        border-radius: 1rem;
        border: 0.15rem solid #eb4629;
        color: var(--white);
    }

    .menu-link:last-child::after {
        display: none;
    }

    .header{
        position: fixed;
        top: 0;
    }
    .logo img{
        width: 35%;
    }
    .home-image{
        width: 60%;
    }
    .projects-content {
        gap: 3rem;
    }
    .about-description {
        padding: 0;
    }
    .projects-content{
        grid-template-columns: 1fr 1fr;
    }
    .project-name {
        font-size: 1.4rem;
    }
    .technologies-title {
        font-size: 1rem;
    }
    .about img {
        width: 70%;
    }
}




/* Call to action section*/

.home {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
   

}

.home-image {
    width: 55%;
    margin: 0 auto;
}

.home-content h1{
    margin: 2rem auto 1rem auto;
    font-size: 1.5rem;
    font-weight: 500;
    text-align:center;
    color: var(--textColor);
}

.home-content p{
        margin: 0 auto;
        font-size: 1.3rem;
       font-weight: 500;
       line-height: 2rem;
        text-align:justify;
        color: #eb4629;
    
}

.about:hover {
    color:#eb4629;
}

.certyficat {
        color:var(--textColor);
        text-align: right;
        font-size: 1.3rem;
        
}
    
.certyficat:hover {
        color:#eb4629;
   }

.home-icons {
    background: var(--main);
    width: max-content;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
}
.home-content a{
    color:var(--textColor);
  
}


@media only screen and (min-width: 1200px) {
    .home{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
        margin: 5rem auto;
     
    }

    .home-image {
        order: 1;
    }
    
}

@media only screen and (min-width: 1400px) {
    .home-content h1{
       font-size: 3.5rem;
       
    }

    .home-content span {
        font-size: 2.2rem;
     }

    .home-image {
        width: 35%;
        padding: 2rem;
    }

    .home-content h1 {
        width: max-content;
    }
}

@media only screen and (min-width: 1650px) {
    .home {
        margin: 4rem auto;
    }
    
    .home-image {
        width: 35%;
    }

    .home-content{
        padding-left: 3rem;
    }

    .home-content h1{
        font-size: 3.9rem;
     }
 
     .home-content span {
         font-size: 2.5rem;
      }
    
}

/* Projects*/

.projects-content {
    display: grid;
    margin: 0 auto;
   
    text-align: center;
}

.project-content-card {
    margin: 1rem auto;
}

.project-content-card img {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
}

.project-name {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--textColor);
    padding-right: 3rem;
    border-bottom: 2px solid var(--textColor);
}

.project-name span{
    color: #eb4629;
}

.project-link img {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.3rem; 
}

.project-description {
    font-size: 1.1rem;
    padding: 0.4rem;
    line-height: 1.6rem;
    text-align: justify;
    color: var(--textColor);
}

.projects-content h3{
   font-size: 1.2rem;
   margin: 1rem auto 0 auto;
}
.summary {
    color: #eb4629;
    font-weight: bold;
}

.technologies-content {
  display: flex;
  flex-direction:column;
   
}

.technologies-cards {
   display:flex;
}

.technologies-title {
    padding: 0.4rem;
    border-bottom: 2px solid var(--textColor);
    width: max-content;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--textColor);
    padding-right: 3rem;
}

.technologies-icons {
    display: flex;
}

.technologies-icons img {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.8rem;
}

@media only screen and (min-width: 1400px){
    .projects{
        width: 90%;
        margin: 0 auto;
    }
    .project-content-card {
        width: 75%;
    }
}

/*About*/


.about-description {
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 1.6rem;
    color: var(--textColor);
    text-align: justify;
}

.about .section-title {
    margin: 0 auto 2rem auto;
}

.about img {
    width: 65%;
    display: block;
    margin: 0 auto;
}
/*
@media only screen and (min-width: 780px){
    .about {
        width: 90%;
        margin: 2rem auto;
    }
    .about-description {
        padding: 1.7rem;
    }
    .about img {
        width: 80%;
    }
}*/

@media only screen and (min-width: 1150px){
    .about-description {
        padding: 1.5rem;
    }
}

@media only screen and (min-width: 1350px){
    .about-content {
        display: flex;
    }
    .about img {
        width: 50%;
    }
    .about-description {
        padding-right: 3rem;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 1800px){
    .about{
        width: 70%;
    }
}

/*Technologies*/

.technologies-cards {
 display: flex;
 flex-wrap:wrap;
 justify-content: center;  
 align-items: center;
 gap: 1rem;
 padding: 0rem 2rem 2rem 2rem;

}

.technologies-item {
    text-align: center;
    padding: 1.5rem;
    box-shadow: var(--shadow);
    border: 1px solid #eaedee;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.technologies-item:hover{
    box-shadow: var(--shadowHover);
}

.technologies-item img{
    width: 4rem;
    height: 4rem;
}

.technologies-item-title {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
    color: var(--textLightColor);
}

@media only screen and (min-width: 1500px){
    .technologies-item {
        margin: 2rem;
    }
}

/*Contact*/

.contact img{
    display: none; 
}

form{
   
    margin: 0 auto;
    width: 85%;
}

.contact-form-field{
    margin: 1rem;
   
}

.contact-form-field label{
 display: inline-block;
 font-size: 0.8rem;
 margin-bottom: 0.4rem;
 color: var(--textColor);   
}

.contact-form-field input {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.5rem 0.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--textColor);
}

form textarea{
   
    width: 100%;
    font-size: 0.8rem;
    padding: 0.5rem 0.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--textColor);
}

.consent-field {
    display: inline-block;
 margin: 1rem auto 0 auto;
 font-size: 0.8rem;
}

legend{
    font-size: 0.8rem;  
}

form .consent-field input{
   
    width: 1rem;
    height:1rem;
  
    margin: 0.2rem 0.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--textColor);
}

.contact-form-btn{
    background: var(--main);
    border: none;
    color: var(--white);
    width: 30%;
    font-size: 1rem;
    display: block;
    margin: 2rem auto 0 auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contact-form-btn:hover{
    background: var(--mainHover);
}

.consent-form label{
    display: inline;
}

.contact-form span{
    font-size: 0.8rem;
    color: var(--textOrange);
}

@media only screen and (min-width: 900px){
    .contact-form {
        width: 65%; 
    }
}

@media only screen and (min-width: 1100px){
    .contact img{
        display: block;
        width: 45%;
    }

    .contact {
        display: flex;
    }

    .contact-form {
        padding: 2rem;
    }
}

@media only screen and (min-width: 1500px){
    .contact-form {
        width: 80%; 
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1800px){
    .contact-form {
        width: 65%; 
        margin: 0 auto;
    }
}

/*Footer*/

footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
    background: var(--main);
    color: var(--white);
}

@media only screen and (min-width: 1500px){
    .about-content {
        display: flex;
        width: 70%;
    }
    .footer {
        font-size: 1.1rem;
    }
}

.thankyou-alert h2 {
    font-size: 2rem;
    display: block;
    text-align: center;
    margin: 5rem auto;
    color: var(--textColor);
}

.thankyou-alert img{
    display: block;
    margin: 0 auto;
    width: 25%;
}

#scroll-to-top{
    position:fixed;
    bottom:50px;
    right:15px;
    opacity:0.8;
    font-size: 1rem;
 }

 #scroll-to-top:hover{
    opacity:3;
 }

 .scroll-up {
    width: 30px;
    height: 30px;
 }

 /* Blog*/
.article-content h1{
    font-size: 1.5rem;
    margin: 2rem auto 1rem auto;
}


.article-content img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.article-content h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--textColor);
}

.article-text{
   
        font-size: 1rem;
        padding: 0.4rem;
        line-height: 1.6rem;
        text-align:justify;
        color: var(--textColor);
}

.article-text h2 {
margin: 1rem auto 0 auto;
font-size: 1.1rem;
}


/*Privacy policy*/

.privacy-policy h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--textColor);
    padding-right: 3rem;
    margin: 2rem auto;
    border-bottom: 2px solid var(--textColor);
}

.privacy-policy h3{
    font-size: 1.2rem;
    margin: 2rem auto 1rem auto;
 }

.privacy-policy-text {
    font-size: 1.1rem;
    padding: 0.4rem;
    line-height: 1.6rem;
    text-align: justify;
    color: var(--textColor);
}


